/* Set main font for application */
body {
    font-family: 'Lato';
}

/* Font awesome styling */
.fa-btn {
    margin-right: 6px;
}

.fa-chevron-circle-down {
    margin-left: 3px;
}

/* Image styling */
img.projectExample {
	width: 100%;
	margin: 20px auto;
	display: block;
}

img.profileImage {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 5px;
}

img.exampleEditImages {
	width: 100%;
	margin: 0 auto;
	display: block;
}

/* Table styling */

th {
	font-size: 20px;
}

td {
	font-size: 16px;
}

th {
	background-color: #BDBDBD;
	color: #2B2B2B;
}

/* Font and link styling */ 

.normalLinks {
	color: #000;
}

h1 {
	margin-bottom: 20px;
}

.formLabel {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}

h3.footerHeader {
	color: #F6F6F6;
	text-decoration: underline;
	margin-top: 10px;
}

.footerLinks {
	font-size: 16px;
	color: #F6F6F6;
}

.footerLinks:hover {
	color: #F6F6F6;
}

.footerLinks:active {
	color: #DE1B1B;
}

p.footerSignature {
	color: #F6F6F6;
	margin-top: 15px;
	font-weight: bold;
}

p.formHelp {
	margin-top: 5px;
}

h3.usersProjects {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

/* Button styling */

.cancelButton {
	margin-top: 10px;
}

.formButtons {
	margin-top: 30px;
}

.deleteButton {
	display: inline-block;
}

.btn {
	margin: 5px;
}

.ideaShowButtons {
	margin-top: 20px;
}

.usersTopButtons {
	margin: 20px 0;
}

/* Layout styling */

.addMargins {
	margin-top: 20px;
	margin-bottom: 20px;
}

.filterByCategory {
	float: right;
}

.panel-heading {
	font-size: 25px;
}

.footer {
	background-color: #2B2B2B;
	-webkit-box-shadow: 0px 0px 15px 6px #2B2B2B;
	moz-box-shadow: 0px 0px 15px 6px #2B2B2B;
	box-shadow: 0px 0px 15px 6px #2B2B2B;
	margin-top: 20px;
}

/* Set background colour of application to improve appearance of footer. */
html {
	background-color: #2B2B2B;
}

/* ul and li styling */ 
.footerButtonLinks {
	list-style: none;
	margin-top: 10px;
	float: right;
	margin-right: 20px;
}

.footerButtonLinks li {
	display: inline-block;
	margin: 5px;
}



